.nav{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}
.nav a:hover{
    color:orange;
}
.span{
    color:white;
}
.logout{
    color:white;
    font-size: 17px;
    margin-left: 36px;
    background-color: #1C2B35;

}